# Experimental workflow to automate updating to a new Minecraft snapshot.
name: Auto Snapshot Update

on:
  workflow_dispatch:
    inputs:
      mc_version:
        description: "Minecraft version to update to"
        required: true
      yarn_mappings:
        description: "Yarn mappings version"
        required: true
      fabric_loader:
        description: "Fabric Loader version"
        required: true
      fapi_version:
        description: "Fabric API version"
        required: true
      distinct_id:
        required: false

permissions:
  # To push changes to the snapshot branch.
  contents: write
  # To trigger the CI workflow.
  actions: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:

    - name: Echo distinct ID ${{ inputs.distinct_id }}
      run: echo ${{ inputs.distinct_id }}

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Python 3.12
      uses: actions/setup-python@v6
      with:
        python-version: "3.12"

    - name: Set up Java 21
      uses: actions/setup-java@v5
      with:
        java-version: "21"
        distribution: "microsoft"

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        build-scan-publish: true
        build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
        build-scan-terms-of-use-agree: "yes"
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        cache-read-only: ${{ github.ref != 'refs/heads/master' && !startsWith(github.ref, 'refs/heads/1.') }}

    - name: Migrate mappings
      run: |
        ./gradlew migrateMappings --mappings ${{ inputs.yarn_mappings }} --overrideInputsIHaveABackup
        ./gradlew migrateTestMappings --mappings ${{ inputs.yarn_mappings }} --overrideInputsIHaveABackup
        ./gradlew migrateClassTweakerMappings --mappings ${{ inputs.yarn_mappings }} --overrideInputsIHaveABackup

    - name: Update version constants
      run: |
        python scripts/update_version_constants.py \
          "${{ inputs.mc_version }}" \
          "${{ inputs.yarn_mappings }}" \
          "${{ inputs.fabric_loader }}" \
          "${{ inputs.fapi_version }}"

    # To fix any style issues that the migration scripts might cause
    - name: Run spotlessApply task
      run: ./gradlew spotlessApply

    - name: Commit and push changes
      run: |
        git config --global user.name "Wurst-Bot"
        git config --global user.email "contact.wurstimperium@gmail.com"
        git add .
        git commit -m "[Wurst-Bot] Update to ${{ inputs.mc_version }}"
        git push

    - name: Trigger CI
      uses: Wurst-Imperium/dispatch-and-wait@v1
      with:
        token: ${{ github.token }}
        owner: ${{ github.repository_owner }}
        repo: ${{ github.event.repository.name }}
        ref: ${{ github.ref }}
        workflow: gradle.yml
        run_timeout_seconds: 600  # 10 minutes
