name: Update Gradle Dependency Graph

on:
  push:
    branches:
    # Submitting dependency graph reports on non-default branches does nothing
    - "master"
    tags-ignore:
    - "**"
    paths:
    - "gradle**"
    - "*.gradle"
  workflow_dispatch:

permissions:
  # Needed by the dependency-submission action.
  contents: write

jobs:
  dependency_graph:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Java 21
      uses: actions/setup-java@v5
      with:
        java-version: "21"
        distribution: "microsoft"

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4
      with:
        build-scan-publish: true
        build-scan-terms-of-use-url: "https://gradle.com/help/legal-terms-of-use"
        build-scan-terms-of-use-agree: "yes"
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
