name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-java@v1
          with:
            java-version: 1.8
        - run: ./gradlew jar
        - uses: actions/upload-artifact@v2
          with:
            path: build/libs
