name: JSON syntax

on:
  push:
    paths:
      - '**.json'
  pull_request:
    paths:
      - '**.json'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check JSON syntax
        uses: limitusus/json-syntax-check@v2
        with:
          pattern: "\\.json$"
